/* styles.css */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}

.logo {
    max-width: 150px;
    margin: 0 auto 20px;
    display: block;
    
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

p {
    font-size: 16px;
    margin: 0;
    color: #777;
}

.section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    font-size: 20px;
    margin: 0 0 10px 0;
    color: #333;
}

.button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.form {
    padding: 20px;
    display: none;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

input, select {
    width: 90%; /* Set a fixed width for inputs and selects */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

select:disabled {
    color: #999;
}

.toggle-form {
    cursor: pointer;
    text-decoration: underline;
    color: #ffffff;
    margin-bottom: 10px;
    display: inline-block;
}

.toggle-form:hover {
    text-decoration: none;
}

.horizontal-development-details {
    display: none;
}

.container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}


